 <!-- Contacts -->

    <hr class="featurette-divider"  id="contact">

      <div class="row featurette">
        <div class="col-md-7">
          <img class="featurette-image img-responsive img-rounded" src="images/casa_sourrounding.jpeg" data-src="images/casa_sourrounding.jpeg" alt="Generic placeholder image">
          <p class="lead">For more details, ring us at 

<a href="tel:0039 051 6557609">+39 051 6557609</a>
            , or fill in the  

<a href="mailto:info@calamma.com?subject=Bed%20And%20Breakfast%20Enquiry
&body=Hello,%0D%0A Was looking at the Ca'Lamma Bed and breakfast website and I was wondering...">e-mail</a> form .


          </p>

          <form action="http://maps.google.com/maps" method="get" target="_blank">
   <label for="saddr">Get Directions</label>
   <input type="text" name="saddr" class="form-control" placeholder="Enter your location" />
   <input type="hidden" name="daddr" value="
44.344000, 11.416058" />
   <br>
   <input type="submit" value="Get directions"class="btn btn-default" />
</form>




        </div>
        <div class="col-md-5">
      <h2 class="featurette-heading">Contacts</h2>
        <div >



<!-- Styled FORM -->
  
<!-- Google form -->

 <form action="https://docs.google.com/forms/d/1KCbNHbEBbsSLmzmk6hhoi9lstTDzChV-5WPvrk-kZAc/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_825206818"><div class="ss-q-title">Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.825206818" value="" class="ss-q-short form-control required" id="entry_825206818" dir="auto" aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_266784761"><div class="ss-q-title">e-mail
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.266784761" value="" class="ss-q-short form-control" id="entry_266784761" dir="auto" aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1763170720"><div class="ss-q-title">Telephone
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1763170720" value="" class="ss-q-short form-control" id="entry_1763170720" dir="auto" aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-date"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_522564395"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">From</div></label>

<input type="date" name="entry.522564395" value="" class="ss-q-date form-control" dir="auto" id="entry_522564395" aria-required="true" required="">
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-date"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1496792601"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">To</div></label>
<input type="date" name="entry.1496792601" value="" class="ss-q-date form-control" dir="auto" id="entry_1496792601" aria-required="true" required="">
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1496716878"><div class="ss-q-title">Message
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk"></span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1496716878" rows="8" cols="0" class="ss-q-long form-control" id="entry_1496716878" dir="auto" aria-required="true" required=""></textarea>
<div class="error-message"></div>
<div class="required-message"></div>

</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">

<br>
<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-default">
<div class="ss-secondary-text"></div></td>
</tr></tbody></table></div></ol></form>

<!-- end of google form -->





        </div>
      </div>
  
  </div>

    

      <!-- /END THE FEATURETTES -->